# template for required config variables
# $ cp env.template mydeployment.env
# $ source mydeployment.env
#
export POSTGRES_DB=
export POSTGRES_GENERAL_DATABASE=
export POSTGRES_ADMIN=
export POSTGRES_PASSWORD=
export POSTGRES_GENERAL_USERNAME=
export POSTGRES_GENERAL_PASSWORD=
